#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that can be organized, stored, and accessed easily. It is used to store and manage information efficiently and is an essential part of many software applications, websites, and systems.

There are two main types of databases: SQL and NoSQL.

SQL databases (Structured Query Language) are relational databases that store data in tables and use SQL to query, manage and manipulate the data. SQL databases are well suited for applications that require complex queries, transactions, and a high degree of data integrity. They are widely used in industries such as banking, healthcare, and finance.

NoSQL databases (Not Only SQL) are non-relational databases that store data in a variety of ways such as key-value pairs, documents, or graphs. They are designed for handling large amounts of unstructured data and can scale horizontally, making them well suited for applications that require high availability and performance. NoSQL databases are commonly used in industries such as social media, e-commerce, and gaming.

Here are some of the key differences between SQL and NoSQL databases:

Data Model: SQL databases use a table-based data model, while NoSQL databases use document-based, key-value, column-family or graph-based data models.

Scalability: SQL databases typically scale vertically, which means adding more resources to a single server. NoSQL databases, on the other hand, scale horizontally, which means adding more servers to a cluster.

Query Language: SQL databases use SQL (Structured Query Language) for querying data. NoSQL databases have their own query languages that vary depending on the database.

Data Structure: SQL databases require a predefined schema that determines the structure of the data in advance. NoSQL databases do not have a predefined schema, allowing for more flexibility in data structure.

Consistency: SQL databases are known for their strong consistency and guarantee that data is always in a valid state. NoSQL databases often sacrifice some consistency for scalability and performance, making them eventually consistent.

In summary, SQL databases are relational databases that use SQL for querying and are well-suited for complex queries, transactions, and a high degree of data integrity, while NoSQL databases are non-relational databases that store data in a variety of ways, designed for handling large amounts of unstructured data, and are highly scalable.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL used to define and manipulate the structure of database objects such as tables, indexes, and views. DDL statements are used to create, modify, or delete database objects.

Here is an explanation of some of the most commonly used DDL statements:

1. CREATE: The CREATE statement is used to create a new database object such as a table, index, or view. For example, the following statement creates a new table called "customers" with columns for customer ID, name, and email address:

CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE
);

2. DROP: The DROP statement is used to delete an existing database object such as a table, index, or view. For example, the following statement drops the "customers" table

DROP TABLE customers;

3. ALTER: The ALTER statement is used to modify the structure of an existing database object. For example, the following statement adds a new column called "phone" to the "customers" table:

ALTER TABLE customers
ADD COLUMN phone VARCHAR(20);

4. TRUNCATE: The TRUNCATE statement is used to delete all rows from a table while keeping the table structure intact. For example, the following statement deletes all data from the "customers" table:

TRUNCATE TABLE customers;

In summary, DDL statements are used to define and manipulate the structure of database objects. The CREATE statement is used to create new objects, the DROP statement is used to delete existing objects, the ALTER statement is used to modify existing objects, and the TRUNCATE statement is used to delete all data from a table while keeping the structure intact.

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that allows users to manipulate data in a relational database management system (RDBMS). DML statements are used to insert, update, and delete data in a database.

Here are the explanations of the three main DML statements:

INSERT: The INSERT statement is used to add new rows of data into a table. It is used to add one or more records to a database table. The syntax of the INSERT statement is:

INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

For example, let's say we have a table named "students" with columns "id", "name", "age", and "gender". We can insert a new record into this table as follows:

INSERT INTO students (id, name, age, gender)
VALUES (1, 'John', 20, 'Male');


2. UPDATE: The UPDATE statement is used to modify existing data in a table. It is used to change one or more values in a row. The syntax of the UPDATE statement is:

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

For example, let's say we want to update the age of a student with an ID of 1 to 21. We can do this as follows:

UPDATE students
SET age = 21
WHERE id = 1;


3. DELETE: The DELETE statement is used to remove rows of data from a table. It is used to delete one or more records from a database table. The syntax of the DELETE statement is:

DELETE FROM table_name
WHERE condition;

For example, let's say we want to delete the record of a student with an ID of 1. We can do this as follows:

DELETE FROM students
WHERE id = 1;

#### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to query or retrieve data from a database. DQL statements are used to retrieve data from one or more tables in a database.

The most commonly used DQL statement is the SELECT statement. Here is an explanation of the SELECT statement with an example:

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows users to specify the columns and rows of data to be retrieved. The syntax of the SELECT statement is:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

For example, let's say we have a table named "students" with columns "id", "name", "age", and "gender". We can use the SELECT statement to retrieve the names of all male students who are older than 20 as follows:

SELECT name
FROM students
WHERE gender = 'Male' AND age > 20;

This statement will return the names of all male students who are older than 20 from the "students" table. The result of the statement will be a table with one column named "name" and multiple rows with the names of the students who meet the specified conditions.

#### Q5. Explain Primary Key and Foreign Key.

Primary Key:

A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. It is used to ensure the integrity of the data in the table by enforcing a unique identifier for each row. A primary key column cannot have null values and must contain unique values. The primary key is used as a reference for other tables in the database.

For example, consider a table named "students" with columns "id", "name", "age", and "gender". We can define "id" as the primary key of the table. This ensures that each row in the table has a unique identifier, and no two rows can have the same "id" value.

Foreign Key:

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables in a database. The foreign key column in one table refers to the primary key column in another table, and this establishes a relationship between the two tables. The foreign key is used to enforce referential integrity between the two tables.

For example, consider a table named "enrollments" with columns "student_id" and "course_id". We can define "student_id" as a foreign key that refers to the primary key "id" in the "students" table. This ensures that the "student_id" column in the "enrollments" table only contains values that exist in the "id" column of the "students" table. This establishes a relationship between the two tables, where the "enrollments" table tracks the courses that each student is enrolled in, and the "students" table contains information about each student.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, we need to use a third-party library called "mysql-connector-python". Here's a sample code snippet that demonstrates how to connect MySQL to Python:

import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM students")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for row in results:
  print(row)


In the above code, we first import the "mysql.connector" library and then use the "connect()" method to connect to the MySQL database. We pass the host, user, password, and database details as arguments to the "connect()" method.

Once the connection is established, we create a cursor object using the "cursor()" method. The cursor object is used to execute SQL queries and fetch the results.

The "execute()" method is used to execute a SQL query. We pass the SQL query as an argument to the "execute()" method. In the above code, we execute a SELECT query that retrieves all the rows from the "students" table.

The "fetchall()" method is used to fetch all the results of the query. The results are stored in a variable called "results". We then loop through the results and print each row.

Overall, the cursor() method is used to create a cursor object, which is used to execute SQL queries and fetch results. The execute() method is used to execute a SQL query, and the fetch methods are used to fetch the results of the query.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: This clause specifies the tables from which the data will be retrieved.

WHERE clause: This clause filters the data based on a specified condition.

GROUP BY clause: This clause groups the data based on a specified column or expression.

HAVING clause: This clause filters the grouped data based on a specified condition.

SELECT clause: This clause specifies the columns to be retrieved from the table(s).

ORDER BY clause: This clause sorts the retrieved data in ascending or descending order based on a specified column.

LIMIT clause: This clause limits the number of rows returned by the query.

Note that not all clauses are required in every SQL query, and the order of the clauses may vary based on the specific query being executed. However, in general, the above order is followed when all the clauses are included in a query.